/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'),
        url('../fonts/lato-v16-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/lato-v16-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'),
        url('../fonts/lato-v16-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/lato-v16-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-900 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'),
        url('../fonts/lato-v16-latin-900.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/lato-v16-latin-900.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    max-width: 1060px;
    margin: 0 auto;
}

.wrapper-full {
    max-width: 1262px;
    margin: 0 auto;
}

.section-title {
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    color: #102746;
    position: relative;
    padding-bottom: 10px;
}

.section-title::after {
    display: block;
    content: '';
    width: 263px;
    height: 3px;
    background-color: #006DFE;
    position: absolute;
    left: 0;
    bottom: 0;
}

/* Header styles start  */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 56px;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
}

.header__item {
    margin-right: 82px;
}

.header__item:last-child {
    margin-right: 0;
}

.header__link {
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    text-decoration: none;
}

.header__link:hover,
.header__link:focus,
.header__link:active {
    opacity: .75;
}

/* Header styles end  */
/* Intro styles start */

.intro {
    min-height: 100vh;
    background: url(../img/Intro-bg.jpg) no-repeat center;
    background-size: cover;
    padding-top: 263px;
    padding-bottom: 223px;
}

.intro__title {
    max-width: 619px;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: #fff;
    margin-bottom: 22px;
}

.intro__subtitle {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    max-width: 546px;
    margin-bottom: 59px;
}

.search__form-info {
    display: flex;
    flex-wrap: wrap;
}

.search__form-field {
    width: 297px;
    background: transparent url(../img/svg/circle-ico.svg) no-repeat left 5px;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    padding-left: 43px;
    padding-bottom: 22px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}

.search__form-field::placeholder {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}

.search__form-submit {
    padding: 15px 39px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    color: #fff;
    background: #1B7DFF;
    border: 0;
}

.search__form-submit:hover,
.search__form-submit:focus,
.search__form-submit:active {
    background: #1a4266;
}

/* Intro styles end */

/* Benefits styles start */
.benefits {
    margin-bottom: 131px;
}

.benefits-wrap {
    max-width: 1262px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    position: relative;
    z-index: 2;
}

.benefits__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 55px;
    padding: 0 100px;
}

.benefits__title {
    width: 100%;
    background-color: #fff;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    padding: 93px 100px 88px 100px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
}

.benefits__card {
    grid-column-gap: span 1;
    margin-bottom: 112px;
}

.benefits__card-pic {
    max-width: 66px;
    margin-bottom: 37px;
}

.benefits__card-thumb {
    display: block;
}

.benefits__card-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    margin-bottom: 26px;
}

.benefits__card-desc {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 39px;
}

.benefits__card-more {
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    text-decoration: none;
    display: inline-block;
    padding-right: 59px;
    background: url(../img/svg/arrow-right-ico.svg) no-repeat 95% center;
    transition: .2s all;
}

.benefits__card-more:hover,
.benefits__card-more:focus {
    background: url(../img/svg/arrow-right-ico.svg) no-repeat right center;
}

/* Benefits styles end */

/* Places styles start */
.places {
    margin-bottom: 131px;
}

.places__caption {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
}

.places__title {
    margin-right: 15px;
}

.places__view-all {
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #006DFE;
    text-decoration: none;
    padding-right: 59px;
    background: url(../img/svg/arrow-right-ico.svg) no-repeat right center;
}

.places__view-all:hover,
.places__view-all:focus {
    opacity: .65;
}

.places__cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
}

.places__card {
    position: relative;
    overflow: hidden;
}

.places__card:hover .places__card-pic {
    transform: scale(1.05);
}

.places__card::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(21, 24, 36, 0.4);
}

.places__card--size-lg {
    grid-column: span 3;
}

.places__card-pic--size-lg {
    height: 354px;
    object-fit: cover;
}

.places__card--size-sm {
    grid-column: span 2;
}

.places__card-pic--size-sm {
    height: 283px;
    object-fit: cover;
}

.places__card-title {
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    color: #fff;
    position: absolute;
    left: 29px;
    bottom: 27px;
    z-index: 3;
}

.places__card-pic {
    width: 100%;

    transition: .15s all;
}

.places__card-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 4;
}

/* Places styles end */

/* Tours styles start */
.tours {
    margin-bottom: 139px;
}

.tours__tour {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 108px;
    align-items: center;
    margin-bottom: 77px;
}

.tour {}

.tour__pic {}

.tour__thumb {}

.tour__info {
    padding-left: 47px;
}

.tour__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color: #102746;
    margin-bottom: 85px;
}

.tour__desc {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 58px;
}

.tour__more {
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #006DFE;
    text-decoration: none;
    padding-right: 59px;
    background: url(../img/svg/arrow-right-ico.svg) no-repeat 97% center;
    transition: .2s all;
}

.tour__more:hover,
.tour__more:focus {
    background: url(../img/svg/arrow-right-ico.svg) no-repeat right center;
}

/* Tours styles end */

/* Top styles start */
.top {
    margin-bottom: 86px;
}

.wrapper-full {}

.top__title {
    margin-bottom: 54px;
}

.top__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 57px;
}

.top__card {
    display: flex;
    flex-direction: column;

}

.top__card-pic {
    position: relative;
    margin-bottom: 45px;
}

.top__card-thumb {}

.top__card-stats {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 16px 25px;
}

.top__card-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    margin: 0 auto 0 0;
}

.top__card-likes {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    padding-right: 20px;
    background: url(../img/svg/heart-ico.svg) no-repeat right center;
    margin-right: 14px;
}

.top__card-likes-value {}

.top__card-comments {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    padding-right: 23px;
    background: url(../img/svg/comment-ico.svg) no-repeat right center;

}

.top__card-desc {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 31px;
}

.top__card-more {
    width: 118px;
    padding: 12px 19px;
    background: #006DFE;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    margin: auto 0 0 0;
}
.top__card-more:hover, .top__card-more:focus, .top__card-more:active{
    background: #1a4266;
}
.top__card-comments-value {}

/* Top styles end */